body {
    text-align:  center;
    background-color: #f6fff8;

}

.board-container {
    margin: 0 auto;
    width: 35%;
    border: 5px solid #051558;
  
}

.warp{
    width:300px;
    height: 700px;
    border: 10px;
    margin: 0 auto;
    border-width: 5px;
    padding: 50px;
    
}

h2 {
    margin-top: 4px;
    margin-bottom: 15px;
    text-align:  center;
}

.level {
    margin-bottom: 10px;
}

.btn {
    border-radius: 4px;
    margin-left: 10px;
    margin-right: 10px;
}

.numLives {
    margin-left: 10px;
    margin-right: 10px;
}

.status {
    margin-left: 10px;
    margin-right: 10px;
}

.timer {
    margin-left: 10px;
    margin-right: 10px;
}

.statuses {
    border-style: solid;
    /* width: 50%; */
    border-color: #a4c3b2;
    padding: 4px;
    margin-bottom: 2px;
    
}

.status {
    size: 30px;
    
}

.timer {
    margin: 0 auto;
    margin-bottom: 15px;
    text-align:  auto;
}

.modal {
    border-style: solid;
    background-color: #6b9080;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 10px;
    padding: 10px;
    text-align:  auto;
    color: white;
    display: none;
}

table {
    margin-top: 10px;
    margin: 0 auto;
   
}

.board td {
    width: 30px;
    height: 30px;
    text-align: center;
    transition: 0.5s;
    border-radius: 3px;
    background-color: #6b9080;
    color: white;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#cce3de;
    color: white;
    text-align: center;
}




